.error__block {
  display: flex;
  flex-direction: column;
  border: hsl(0, 100%, 50%) solid 1px;
  width: 100%;
  background-color: hsl(0, 100%, 98%);
  margin-top: 10px;
  margin-bottom: 20px;
}

.error__block h5 {
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 4px;
  color: hsla(0, 98%, 16%, 0.822);
}

ul {
  margin: 0px;
  padding-left: 0px;
}
