li {
  margin-top: 8px;
  padding: 0px;
  list-style: inside;
  position: relative;
  top: -5px;
  margin-left: 5px;
}

ul li a {
  font-size: 10px;
  color: hsla(0, 98%, 16%, 0.822);
  text-decoration: underline;
}

ul li a span {
  margin: 0;
  position: relative;
  left: -10px;
  top: -3px;
  padding-top: 0px;
}

a:hover {
  text-decoration: none;
  background-color: transparent;
}
